.flex-col {
  display: flex;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col-center-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}