.scrollbars {
  > div {
    &:first-child {
      scroll-behavior: smooth;
    }
    &:nth-child(2),
    &:last-child {
      z-index: 8;
      div {
        background-color: rgba(black, 0.2) !important;
        transition: background-color .3s;

        &:hover {
          background-color: rgba(black, 0.3) !important;
        }
      }
    }
  }
}